
# Ignore all
/*

# Except ...
!.github
!.gitmodules
!extern
!TradeTide
!development
!docs
!tests
!tools
!tools/*.py
!.flake8
!.gitignore
!.pre-commit-config.yaml
!LICENSE
!cpp
!conda.recipe
!pyproject.toml
!README.rst
!CONTRIBUTING.md
!CITATION.cff
!CHANGELOG.md
!notebook.ipynb
!CMakeLists.txt
!.zenodo.json
!pytest.ini
!.coveragerc

# But ignore docs/build inside docs and code
docs/build/
docs/source/gallery/

# Compiled files in the project
*__pycache__*
*.DS_Store*
*.so*
*.a*
*.cmake
*CMakeFiles*
*Makefile*
!Makefile

# Package specifics
